@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */
*{
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;  
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 48px 150px;
}
nav > .owner{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
nav > .resume{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
nav > .resume:hover{
    background-color: #e4e0e0;
    border: none;
}
/* Banner */
.banner{
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
}
.banner > .banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    width: 998px;
}
.banner-img{
    display: flex;
    justify-content: center;
}
.cnt{
    display: flex;
    justify-content: center;
}
.details > h2{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}
.details > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
.cnt > button{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    cursor: pointer;
}
.cnt > button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
/* Section 1 - Why Web Development */
.sec1{
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 154px 200px 90px;
}
.s1-content > h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    padding-top: 80px;
}
.s1-content > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
    margin: 0px 240px 48px;
}
/* Cart 1 */
.cart-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 0px 97px 32px;
    padding: 48px;
}
.cart-1-content > h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 16px;
}
.cart-1-content > p{
    color: rgb(13, 19, 33);
    font-size: 16px;    
    font-weight: 400;
    line-height: 26px;  
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    padding-bottom: 32px;
}
.cart-1-content > button > a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.cart-1-content > button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
}
.cart-1-content > button:hover{
    background-color: black;
    color: white;
    border: none;
}
.cart-1-content > button > a:hover{
    color: white;
}
/* Inspiration Section */
.inspiration > h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.out-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.out-video > iframe{
    width: 1076px;
    height: 550px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 151px;
}
/* Current Target Section */
.target > h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.target > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.cart-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0px 400px 111px;
}
/* HTML */
.html-container{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.html-container > img{
    margin-bottom: 32px;
}
.html-container > h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.html-container > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.html-container > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;   
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.html-container > a:hover{
    color: blue;
}
/* CSS */
.css-container{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}
.css-container > img{
    margin-bottom: 32px;
}
.css-container > h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.css-container > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.css-container > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;   
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.css-container > a:hover{
    color: blue;
}
/* JS */
.js-container{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}
.js-container > img{
    margin-bottom: 32px;
}
.js-container > h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.js-container > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.js-container > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;   
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.js-container > a:hover{
    color: blue;
}
/* Next Target Section */
.nxt-target > h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.nxt-target > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
/* Next Target Section */
.rnm-container{
    margin: 0px 300px 0px;
}
/* react.js */
.react{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.react-content > h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.react-content > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.react-content > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.react-content > a:hover{
    color: blue;
}
/* node.js */
.node{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.node-content > h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.node-content > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.node-content > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.node-content > a:hover{
    color: blue;
}
/* MongoDB */
.mongodb{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 49px;
}
.mongodb-content > h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.mongodb-content > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.mongodb-content > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.mongodb-content > a:hover{
    color: blue;
}
/* Support Section */
.support{
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/handshake.jpg");
    height: 313px;
    background-position: center;
    background-size: cover;
    padding: 64px 48px;
    border-radius: 16px;
    margin: 0px 300px 80px;
}
.support-content > h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 16px;
}
.support-content > p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.flex > input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    padding-right: 235px;
}
.flex > button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
/* Footer Section */
footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
}
.f-content > p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}