@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */
*{
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;  
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 48px 150px;
}
nav > .owner{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
nav > .resume{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
nav > .resume:hover{
    background-color: #e4e0e0;
    border: none;
}
